@model Person

<div class="card">
    <div class="card-header">
        <h2>@Model.FirstName</h2>
    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.FirstName @Model.LastName</h5>
        @if (Model.Function is not null)
        {
            <p class="card-text">Role: @Model.Function.Name</p>
        }
        @if (!string.IsNullOrWhiteSpace(Model.Email))
        {
            <a href="mailto:@Model.Email" class="btn btn-primary">Send Email</a>
        }
    </div>
</div>